<hr class="has-background-grey-lighter">

<div class="has-text-centered">
    <h5 class="title is-5 has-text-dark">
        {{ keyhelp_demo }}
    </h5>

    <p>
        {{ demo_login_note }}
    </p>

    <div class="table-container has-margin-top-medium">
        <table class="table is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>{{ area }}</th>
                    <th>{{ username }}</th>
                    <th>{{ password }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ admin }}</th>
                    <td>admin</td>
                    <td>admin</td>
                </tr>
                <tr>
                    <th>{{ user }}</th>
                    <td>user</td>
                    <td>user</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <p>
        {{ demo_reset_note }}
    </p>
</div>