{{ forms.input_wrapped({
    'name': 'password',
    'type': 'password',
    'label': password,
    'help': _leave_empty ? leave_empty : '',
    'is_required': not _leave_empty,
    'is_new_password': true,
    'addons': {
        'right': {
            'type': 'action',
            'label': show,
            'action': 'app-show-password'
        }
    }
}) }}

<meter id="password-strength-meter" class="meter is-xsmall" value="0" min="0" max="100" low="40" high="74" optimum="75">
    <progress class="progress is-xsmall" value="0" max="100">0%</progress>
</meter>

<div id="password-complexity-help" class="has-text-grey has-margin-bottom-medium">
    <small>
        <p class="app-password-complexity-min-length">
            {{ password_complexity_length }}
        </p>
        <p class="app-password-complexity-letter">
            {{ password_complexity_letter }}
        </p>
        <p class="app-password-complexity-lowercase">
            {{ password_complexity_lowercase }}
        </p>
        <p class="app-password-complexity-uppercase">
            {{ password_complexity_uppercase }}
        </p>
        <p class="app-password-complexity-digit">
            {{ password_complexity_digit }}
        </p>
        <p class="app-password-complexity-special">
            {{ password_complexity_special }}
        </p>
    </small>
</div>

{{ forms.input_wrapped({
    'name': 'password_confirmation',
    'type': 'password',
    'label': password_confirmation,
    'help': _leave_empty ? leave_empty : '',
    'is_required': not _leave_empty,
    'is_new_password': true,
}) }}

<div id="password-confirmation-missmatch" class="has-text-danger has-margin-bottom-medium">
    <small>
        <p>
            {{ password_mismatch }}
        </p>
    </small>
</div>

{{ forms.input_wrapped({
    'name': 'password_suggestion',
    'type': 'text',
    'label': password_suggestion,
    'is_readonly': true,
    'addons': {
        'right': {
            'type': 'action',
            'label': generate,
            'action': 'app-generate-password'
        }
    }
}) }}