{% extends 'base/intern.twig' %}



{% block content %}

    {% include 'includes/card_start.twig' %}

        <form action="?page=admin_email_all_users" method="post" autocomplete="off">
            <input type="hidden" name="submit" value="1">

            {{ forms.input_wrapped({
                'label': sender_name,
                'name': 'sender_name',
                'type': 'text',
                'value': _sender_name
            }) }}

            {{ forms.input_wrapped({
                'label': sender_email,
                'name': 'sender_email',
                'type': 'email',
                'is_required': true,
                'value': _sender_email
            }) }}

            {{ forms.checkbox_wrapped({
                'label': recipients,
                'is_required_fake': true,
                'options': [
                    {
                        'label': administrator_accounts ~ ' (' ~ _admin_accounts_count ~ ')',
                        'name': 'is_send_to_admins',
                        'value': '1',
                        'is_checked': _is_send_to_admins
                    },
                    {
                        'label': user_accounts  ~ ' (' ~ _user_accounts_count ~ ')',
                        'name': 'is_send_to_users',
                        'value': '1',
                        'is_checked': _is_send_to_users
                    },
                ]
            }) }}

            {% if _users_without_email %}
                <div class="has-margin-bottom-medium">
                    <span class="icon is-medium has-text-danger">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    <strong>{{ accounts_without_email }}</strong>
                    <p>
                        {% for item in _users_without_email %}
                            <a href="?page=admin_accounts_user&action=edit&id={{ item.id }}">{{ item.username }}</a>{{ not loop.last ? ',' }}
                        {% endfor %}
                    </p>
                </div>
            {% endif %}

            {{ forms.input_wrapped({
                'label': subject,
                'name': 'subject',
                'type': 'text',
                'is_required': true,
                'value': _subject
            }) }}

            {{ forms.textarea_wrapped({
                'label': message,
                'name': 'message',
                'is_required': true,
                'value': _message,
                'rows': 15,
                'is_auto_resize': true
            }) }}

            <div class="has-text-centered">
                <button class="button is-link">{{ send_email }}</a>
            </div>
        </form>

    {% include 'includes/card_end.twig' %}

{% endblock %}