{% extends 'base/intern.twig' %}



{% block page_scripts %}
    <script>
        var placeholderTexts = {{ _js_placeholder }};
    </script>

    <script src="/theme/bulma/assets/js/page_template_email.js?{{ _app.cache_busting }}"></script>
{% endblock %}



{% block content %}

    {% include 'includes/card_start.twig' %}

        <form action="?page=admin_template_email_add" method="post" autocomplete="off">
            <input type="hidden" name="submit" value="1">

            {{ forms.select_wrapped({
                'name': 'language',
                'label': language,
                'options': _languages,
                'selected': _languages_selected,
            }) }}

            {{ forms.select_wrapped({
                'name': 'event',
                'label': event,
                'options': _events,
                'selected': _events_selected,
            }) }}

            <div class="has-margin-bottom-medium">
                {{ forms.button({
                    'label': load_default_template,
                    'type': 'button',
                    'id': 'app-btn-load-default-template',
                    'style': 'primary',
                }) }}
            </div>

            <div id="app-placeholder-wrapper" style="display:none;">
                {{ forms.label_wrapped({
                    'label': placeholders,
                    'help': '<span id="app-placeholder"></span>',
                }) }}
            </div>

            {{ forms.input_wrapped({
                'label': subject,
                'name': 'subject',
                'type': 'text',
                'is_required': true,
            }) }}

            {{ forms.textarea_wrapped({
                'label': text,
                'name': 'text',
                'is_required': true,
                'rows': 15,
                'is_auto_resize': true
            }) }}

            {{ forms.input_wrapped({
                'label': sender_name,
                'name': 'sender_name',
                'type': 'text',
            }) }}

            {{ forms.input_wrapped({
                'label': send_copy_to,
                'help': send_copy_to_help,
                'name': 'send_copy_to',
                'type': 'text',
            }) }}

            {{ forms.input_wrapped({
                'label': test_email_template,
                'help': test_email_template_help,
                'name': 'test_recipient',
                'type': 'text',
                'value': _admin_email,
                'addons': {
                    'right': {
                        'type': 'action',
                        'label': send_email,
                        'action': 'app-send-test-email'
                    }
                },
            }) }}

            <div id="app-send-test-success" class="has-text-success has-text-weight-bold" style="display: none">
                {{ successfully_sent }}
            </div>

            <div id="app-send-test-error" style="display: none">
                <span class="has-text-danger has-text-weight-bold">
                    {{ failed_to_send }}
                </span>
                <br>
                <span id="app-send-test-error-message"></span>
            </div>

            {% include 'includes/cta.twig' with { '_back': { 'target': 'admin_template_email_index' }, '_confirm': true } %}
        </form>

    {% include 'includes/card_end.twig' %}

{% endblock %}